@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.text-clamp {
    font-size: clamp(30px, 5vw, 80px);
}

.corner-top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-top: 3px solid rgb(244, 92, 54);
  border-left: 3px solid rgb(244, 92, 54);
  transform: translate(10px, 10px);
}

.corner-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-bottom: 3px solid rgb(244, 92, 54);
  border-right: 3px solid rgb(244, 92, 54);
  transform: translate(-10px, -10px);
}

.clip-circle{
    clip-path: circle();
    width: 50%;
    position: relative;
    left: 60px;
}

.fa-star{
    color: orange;
    
}